<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>스프링 시큐리티</h1>

    <h2>비밀번호 비교 확인</h2>
    <form action="/login" method="post">
      <input type="password" name="pw" placeholder="비밀번호를 입력하세요" />
      <button type="submit">비밀번호 확인</button>
    </form>
    <hr />
    <br /><br /><br /><br />
    <form action="/password" method="post">
      <input type="password" name="pw" placeholder="비밀번호를 입력하세요" />
      <button type="submit">전송</button>
    </form>
  </body>
</html>
